<div class="history">
	<ul class="list-group">

		<li class="list-group-item" ng-repeat="entry in entries.list | orderBy: '-dateTime' | limitTo: quantity track by $index">
			
			<a href="#" class="delete" ng-click="controls.remove(entry)">
				<i class="fa fa-trash-o"></i>
			</a>
			<span class="badge">{{entry.weight | number:1}} kg</span>			
			{{entry.dateTime | date:'d MMM yyyy @ hh:mm'}}

		</li>

		<li class="list-group-item" ng-hide="entries.list.length > 0">
			Oh maaan! No history yet
		</li>

		<li class="list-group-item" ng-show="controls.showMore || controls.showReset">
			<div class="row">

				<div class="col-xs-6">
					<a href="#" class="show-more" ng-click="controls.more()" ng-show="controls.showMore">
						<small>
							<i class="fa fa-history"></i>
							Older
						</small>
					</a>
				</div>

				<div class="col-xs-6 text-right">
					<a href="#" class="reset" ng-click="controls.reset()" ng-show="controls.showReset">
						<small>
							Reset
						</small>
					</a>
				</div>

			</div>			
		</li>
		
	</ul>
</div>