<div class="history">
	<delete-entry-modal entry="removeEntry"></delete-entry-modal>
	<ul class="list-group">

		<li class="list-group-item" ng-show="entries.list.length === 0">
			Oh maaan! No history yet
		</li>

		<li class="list-group-item animate-ng-repeat" ng-repeat="entry in entries.list | orderBy: '-dateTime' | limitTo: quantity track by $index">
			
			<a href="#" class="delete" ng-click="controls.remove(entry)"
				data-toggle="modal" data-target="#deleteEntryModal">
				<i class="fa fa-trash-o"></i>
			</a>
			<span class="badge">{{entry.weight | number:1}} kg</span>			
			{{entry.dateTime | date:'d MMM yyyy @ hh:mm'}}

		</li>		

		<li class="list-group-item animate-ng-show" ng-show="controls.showMore || controls.showReset">
			<div class="row">

				<div class="col-xs-4">
					<a href="#" class="show-more" ng-click="controls.more()" ng-show="controls.showMore">
						<small>
							<i class="fa fa-history"></i>
							Older
						</small>
					</a>
				</div>

				<div class="col-xs-4">
					<a href="#" class="download" ng-click="controls.download()" ng-show="controls.showDownload">
						<small>
							<i class="fa fa-download"></i>
							Download
						</small>
					</a>
				</div>
				
				<div class="col-xs-4 text-right">
					<a href="#" class="reset" ng-click="controls.reset()" ng-show="controls.showReset">
						<small>
							Reset
						</small>
					</a>
				</div>

			</div>			
		</li>
		
	</ul>
</div>